Always verify that your task is really complete - that it actually works.

Verify the changes quickly by running `pnpm green-changed`.

If things get weird, you can verify the entire project serially with `pnpm green`.
